<a href="https://colab.research.google.com/github/ChaouechOlfa/FormationUdemy/blob/main/Comment_connecter_son_google_drive_%C3%A0_google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [1]:
#Comment connecter son google drive à google collaboratory:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
!ls "/content/gdrive/MyDrive"

 2019
 Anglais
'AUDIO BCT'
 bur2017
 BUREAU2021
 bureau2021_2
 Bureau_8.jpg
 CDMaitreAssistant
'chap ii'
 chapitreI
'Chapitre I.docx'
 CHPI
 Classroom
 CNUDST
'Colab Notebooks'
'CorrectionSerie1 (1).zip'
'CorrectionSerie1 (2).zip'
 CorrectionSerie1.zip
 crud
'curr_vitae Achouri English.gdoc'
 CV2019
 CV2019.zip
 Dérivées.pdf
 DSI_3
'Election Presidentielle2019HammametRepublique.zip'
 EPI
'Formulaire sans titre.gform'
 FORUMM.ppt
 IMG20200216231027.jpg
'Ma soutenance Nchallah.ppt'
'Ma soutenance.ppt'
'Meet Recordings'
 MyRapportPFE
 PHOTO2019
 POURtirer
'pr tirage'
 Scorarity
'SOUTENANCE (2).ppt'
 sss
'THESE OLFA'
 video-1530088519.mp4

In [8]:
cd "/content/gdrive/MyDrive/Colab Notebooks"

/content/gdrive/MyDrive/Colab Notebooks

In [10]:
ls

Boston-house.ipynb           Untitled0.ipynb
ConnectDriveWithColab.ipynb  Untitled1.ipynb

In [12]:
mkdir Rappel

In [15]:
cd "/content/gdrive/MyDrive/Colab Notebooks/Rappel"

/content/gdrive/MyDrive/Colab Notebooks/Rappel

In [17]:
pd.read_csv('student-mat.csv',sep=';')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9